{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Interactive Prototype</title>

    <link rel="stylesheet" type="text/css" href="{% static 'draw/vendor/bootstrap/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'draw/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'draw/vendor/paper/paper-full.min.js' %}"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <style type="text/css">
        .circle {
            height: 6vh;
            width: 6vh;
            background-color: #fcebc8;
            border-radius: 50%;
            display: inline-block;
        }
        .rounded-square {
            height: 8vh;
            width: 8vh;
            background-color: #fcebc8;
            border-radius: 25%;
            display: inline-block;
        }
        .rounded-rect {
            height: 9vh;
            width: 94vw;
            background-color: #fcebc8;
            border-radius: 40px;
            display: inline-block;
        }
    </style>

</head>
<body>
    <div class="container-fluid">
        <!-- This is the top bar, it is resizeable-->
        <div class="row" style="background-color:#f5cd79;height:8vh;width:100vw;border:2px solid #f5cd79;">
            <div class="col-2 px-0">
                <span class="material-icons" style="font-size:4vh;padding-top:2vh;padding-left:4vw;">arrow_back</span>
            </div>

            <div class="col-8 px-0"></div>

            <div class="col-2 px-0">
                <span class="circle" style="margin-top:1vh;">
                    <span class="material-icons" style="font-size:3vh;padding-left:25%;padding-top:1.3vh;">ios_share</span>
                </span>
            </div>
        </div>


        <!-- This is the canvas.-->
        <div class="row" style="height:52vh;width:100vw;">
            <div class="col-12 px-0" style="height:100%;width:100%;">
                <canvas id="myCanvas" width="800px" height="600px" style="width:100%;height:100%;"></canvas>
            </div>
        </div>


        <!-- This is the bottom bar.-->
        <!-- Share Text-->
        <div class="row" style="height:6vh;width:100vw;border:2px solid #f5cd79;">
            <div class="col-6 px-0" style="background-color:#f5cd79;">
            </div>
            <div class="col-3 px-0" style="background-color:#f5cd79;padding-top:1vh">
                <p style="font-family:'Lucida Handwriting', cursive;font-size:2.5vh;font-weight:bold;text-align:center;">Share</p>
            </div>
            <div class="col-3 px-0" style="background-color:#f5cd79;">
            </div>
        </div>
        <!-- Edit and Sharing options-->
        <div class="row" style="height:16vh;width:100vw;border:2px solid #f5cd79;">
            <div class="col-3 px-0" style="background-color:#f5cd79;">
                <span class="rounded-square" style="margin-top:2vh;margin-left:5.5vw;background-color:#f78fb3;">
                    <span class="material-icons" style="font-size:6vh;padding-top:1vh;padding-left:2vw;">edit</span>
                </span>
            </div>
            <div class="col-3 px-0" style="background-color:#f5cd79;">
                <span class="rounded-square" style="margin-top:2vh;margin-left:8vw;background-color:#7ea9ff;">
                    <span class="material-icons" style="font-size:6vh;padding-top:1vh;padding-left:2vw;">facebook</span>
                </span>
            </div>
            <div class="col-3 px-0" style="background-color:#f5cd79;">
                <span class="rounded-square" style="margin-top:2vh;margin-left:5.5vw;background-color:#23d3b0;">
                    <span class="material-icons" style="font-size:6vh;padding-top:1vh;padding-left:2vw;">textsms</span>
                </span>
            </div>
            <div class="col-3 px-0" style="background-color:#f5cd79;">
                <span class="rounded-square" style="margin-top:2vh;margin-left:3vw;background-color:#f19066;">
                    <span class="material-icons" style="font-size:6vh;padding-top:1vh;padding-left:2vw;">more_horiz</span>
                </span>
            </div>
        </div>
        <!-- Submit Button-->
        <div class="row" style="height:18vh;width:100vw;">
            <div class="col-12 px-0" style="background-color:#f5cd79;">
                <span class="rounded-rect" style="margin-top:2vh;margin-left:3vw;margin-top:3vh;background-color:#ff7675;">
                    <p style="font-family:'Lucida Handwriting',cursive;font-size:4vh;font-weight:bold;text-align:center;margin-top:1vh">Submit</p>
                </span>
            </div>
        </div>
    </div>

    <!-- ORIGINAL
    // You may change the dimensions of this canvas
    <canvas id="myCanvas" width="750px" height="750px"></canvas>
    -->
</body>


<!-- ORIGINAL
<script>

    // setting up the canvas and one paper tool
    var canvas = document.getElementById('myCanvas');
    paper.setup(canvas);
    var tool = new paper.Tool();
    var path = new paper.Path();
    var uid = Date.now() % 10000;
    //1A
    var uidPaths = {};
    //1A
    //1B
    var randomColor = Math.floor(Math.random()*16777215);
    //1B
    path.strokeColor = "red";

    // getting the URL (you may want to use for Exercise 3)
    var url = window.location.href;

    var socket = new WebSocket(
        'ws://' + window.location.host + '/ws/draw');

    tool.onMouseMove = function(event) { //http://paperjs.org/reference/tool/ path examples
       path.add(event.point);
       // You may need to add code here if you want to pass any other information.
       socket.send("{\"x\" : " + event.point.x + ", \"y\" : " + event.point.y + ", \"uid\" : " + uid + ", \"color\" : " + randomColor + "}");
    }

    socket.onmessage = function(receivedMessage) {
        var received = JSON.parse(receivedMessage.data);
        // You will probably want to add some code here to draw more lines.
        //1A
        var point = new paper.Point(received.x, received.y);
        var recUid = received.uid;
        //1C
        if (url.includes("small")) {
            if (recUid != uid) {
                return
            }
        }
        //1C
        if (!(recUid in uidPaths)) {
            newPath = new paper.Path();
            //1B
            newPath.strokeColor = "#" + received.color.toString(16);
            //1B
            uidPaths[recUid] = newPath;
        }
        uidPaths[recUid].add(point)
        //1A
        console.log("Received: " + JSON.stringify(received));
    }

    socket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

</script>
-->
</html>
