{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Interactive Prototype</title>

    <link rel="stylesheet" type="text/css" href="{% static 'draw/vendor/bootstrap/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'draw/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'draw/vendor/paper/paper-full.min.js' %}"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <style type="text/css">
        .circle {
            height: 6vh;
            width: 6vh;
            background-color: #fcebc8;
            border-radius: 50%;
            display: inline-block;
        }
        .rounded-square {
            height: 8vh;
            width: 8vh;
            background-color: #fcebc8;
            border-radius: 25%;
            display: inline-block;
        }
        .rounded-rect {
            height: 9vh;
            width: 94vw;
            background-color: #fcebc8;
            border-radius: 40px;
            display: inline-block;
        }
        .ui {
            border:4px solid #f5cd79;
            background-color:#f5cd79;
        }
        .second {
            display: none;
        }
        input[type="range"] {
            width:80%;
            height:5vh;
        }
    </style>

</head>
<body>
    <!-- First version with Edit button at the bottom-->
    <h1 id="title" class="font-weight-bold text-center">DAY IN THE LIFE NEW YORK</h1>
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="3000" style="background-color: peru;">
        <!-- Indicators -->
        <ol class="carousel-indicators"></ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner"></div>
        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev" style="background-color: slateblue;">
        <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
    <div id = "firstContainer" class="container-fluid first" style="background-color: #f5cd79;">
        <!-- This is the top bar, it is resizeable-->
        <div class="row ui" style="height:8vh;width:100vw;">
            <div class="col-2 px-0">
                <span class="material-icons" style="font-size:4vh;padding-top:2vh;padding-left:4vw;">
                    arrow_back
                </span>
            </div>

            <div class="col-8 px-0">
                <h1 class="font-weight-bold text-center" style="font-size:3vh;padding-top:2vh;">New York</h1>
            </div>

            <div class="col-2 px-0">
                <span class="circle" style="margin-top:0.7vh;">
                    <span class="material-icons" style="font-size:3vh;padding-left:25%;padding-top:1.3vh;">
                        ios_share
                    </span>
                </span>
            </div>
        </div>


        <!-- This is the canvas.-->
        <div class="row" style="height:52vh;width:100vw;">
            <div class="col-12 px-0" style="height:100%;width:100%;">
                <div id="myCamera" class="camera">
                    <video id="video" style="height:100%;width:100%;">Video stream not available.</video>
                </div>
                <canvas id="picCanvas" width="800px" height="600px" style="width:100%;height:100%;">
                </canvas>
            </div>
        </div>


        <!-- This is the bottom bar.-->
        <!-- Share Text-->
        <div id = "topButtons" class="row ui" style="height:6vh;width:100vw;">
            <div class="col-3 px-0">
            </div>
            <div class="col-3 px-0" style="padding-top:1vh">
                <button id="startbutton">
                    <p style="font-family:'Lucida Handwriting', cursive;font-size:2.5vh;font-weight:bold;text-align:center;">
                        Take Photo
                    </p>
                </button>
                <button id="retakeButton">
                    <p style="font-family:'Lucida Handwriting', cursive;font-size:2.5vh;font-weight:bold;text-align:center;">
                        Retake
                    </p>
                </button>
            </div>
            <div class="col-3 px-0" style="padding-top:1vh">
                <p style="font-family:'Lucida Handwriting', cursive;font-size:2.5vh;font-weight:bold;text-align:center;">
                    Share
                </p>
            </div>
            <div class="col-3 px-0">
            </div>
        </div>
        <!-- Edit and Sharing options-->
        <div id = "bottomButtons" class="row ui" style="height:12vh;width:100vw;">
            <div class="col-3 px-0 ">
                <div id = "editButton" button>
                    <span class="rounded-square" style="margin-top:2vh;margin-left:5.5vw;background-color:#f78fb3;">
                        <span class="material-icons" style="font-size:6vh;padding-top:1vh;padding-left:2vw;">
                            edit
                        </span>
                    </span>
                </div>
            </div>
            <div class="col-3 px-0 ">
                <span class="rounded-square" style="margin-top:2vh;margin-left:5.5vw;background-color:#7ea9ff;">
                    <span class="material-icons" style="font-size:6vh;padding-top:1vh;padding-left:2vw;">
                        facebook
                    </span>
                </span>
            </div>
            <div class="col-3 px-0 ">
                <span class="rounded-square" style="margin-top:2vh;margin-left:5vw;background-color:#23d3b0;">
                    <span class="material-icons" style="font-size:6vh;padding-top:1vh;padding-left:2vw;">
                        textsms
                    </span>
                </span>
            </div>
            <div class="col-3 px-0 ">
                <span class="rounded-square" style="margin-top:2vh;margin-left:3vw;background-color:#f19066;">
                    <span class="material-icons" style="font-size:6vh;padding-top:1vh;padding-left:2vw;">
                        more_horiz
                    </span>
                </span>
            </div>
        </div>
        <!-- Button Desc-->
        <div id = "buttonText" class="row ui" style="height:4vh;width:100vw;">
            <div class="col-3 px-0">
                <p style="margin-left:7.5vw;font-family:'Lucida Handwriting', cursive;font-size:2.5vh;font-weight:bold;">
                    Edit
                </p>
            </div>
            <div class="col-3 px-0">
                <p style="margin-left:9vw;font-family:'Lucida Handwriting', cursive;font-size:2.5vh;font-weight:bold;">
                    FB
                </p>
            </div>
            <div class="col-3 px-0">
                <p style="margin-left:7.5vw;font-family:'Lucida Handwriting', cursive;font-size:2.5vh;font-weight:bold;">
                    SMS
                </p>
            </div>
            <div class="col-3 px-0">
                <p style="margin-left:4.5vw;font-family:'Lucida Handwriting', cursive;font-size:2.5vh;font-weight:bold;">
                    More
                </p>
            </div>
        </div>
        <!-- Submit Button-->
        <div id = "submitRow" class="row ui" style="height:18vh;width:100vw;">
            <div class="col-12 px-0">
                <div id = "submitButton" button>
                    <span class="rounded-rect" style="margin-left:3vw;margin-top:3vh;background-color:#ff7675;">
                        <p style="font-family:'Lucida Handwriting',cursive;font-size:4vh;font-weight:bold;text-align:center;margin-top:1vh">
                            Submit
                        </p>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <!-- Second Version with Edit button at the top-->
    <div id = "secondContainer" class="container-fluid second" style="background-color: #f5cd79;">
        <!-- This is the top bar, it is resizeable. CHANGED-->
        <div class="row ui" style="height:8vh;width:100vw;">
            <div class="col-2 px-0">
                <span class="material-icons" style="font-size:4vh;padding-top:2vh;padding-left:4vw;">
                    arrow_back
                </span>
            </div>

            <div class="col-6 px-0">
                <h1 class="font-weight-bold text-center" style="font-size:3vh;padding-top:2vh;">New York</h1>
            </div>
            <div class="col-2 px-0">
                <div id = "editButton2" button>
                    <span class="circle" style="margin-top:1vh;">
                        <span class="material-icons" style="font-size:3vh;padding-left:25%;padding-top:1.3vh;">
                            edit
                        </span>
                    </span>
                </div>
            </div>

            <div class="col-2 px-0">
                <span class="circle" style="margin-top:1vh;">
                    <span class="material-icons" style="font-size:3vh;padding-left:25%;padding-top:1.3vh;">
                        ios_share
                    </span>
                </span>
            </div>
        </div>


        <!-- This is the canvas.-->
        <div class="row" style="height:52vh;width:100vw;">
            <div class="col-12 px-0" style="height:100%;width:100%;">
                <div id="myCamera2" class="camera">
                    <video id="video2" style="height:100%;width:100%;">Video stream not available.</video>
                </div>
                <canvas id="picCanvas2" width="800px" height="600px" style="width:100%;height:100%;">
                </canvas>
            </div>
        </div>


        <!-- This is the bottom bar.-->
        <!-- Share Text CHANGED-->
        <div id = "topButtons2" class="row ui" style="height:6vh;width:100vw;">
            <div class="col-3 px-0">
            </div>
            <div class="col-3 px-0" style="padding-top:1vh">
                <button id="startbutton2">
                    <p style="font-family:'Lucida Handwriting', cursive;font-size:2.5vh;font-weight:bold;text-align:center;">
                        Take Photo
                    </p>
                </button>
                <button id="retakeButton2">
                    <p style="font-family:'Lucida Handwriting', cursive;font-size:2.5vh;font-weight:bold;text-align:center;">
                        Retake
                    </p>
                </button>
            </div>
            <div class="col-3 px-0" style="padding-top:1vh">
                <p style="font-family:'Lucida Handwriting', cursive;font-size:2.5vh;font-weight:bold;text-align:center;">
                    Share
                </p>
            </div>
            <div class="col-3 px-0">
            </div>
        </div>
        <!-- Edit and Sharing options CHANGED-->
        <div id = "bottomButtons2" class="row ui" style="height:12vh;width:100vw;">
            <div class="col-4 px-0 ">
                <span class="rounded-square" style="margin-top:2vh;margin-left:10vw;background-color:#7ea9ff;">
                    <span class="material-icons" style="font-size:6vh;padding-top:1vh;padding-left:2vw;">
                        facebook
                    </span>
                </span>
            </div>
            <div class="col-4 px-0 ">
                <span class="rounded-square" style="margin-top:2vh;margin-left:10vw;background-color:#23d3b0;">
                    <span class="material-icons" style="font-size:6vh;padding-top:1vh;padding-left:2vw;">
                        textsms
                    </span>
                </span>
            </div>
            <div class="col-4 px-0 ">
                <span class="rounded-square" style="margin-top:2vh;margin-left:10vw;background-color:#f19066;">
                    <span class="material-icons" style="font-size:6vh;padding-top:1vh;padding-left:2vw;">
                        more_horiz
                    </span>
                </span>
            </div>
        </div>
        <!-- Button Desc CHANGED-->
        <div id = "buttonText2" class="row ui" style="height:4vh;width:100vw;">
            <div class="col-4 px-0">
                <p style="margin-left:14vw;font-family:'Lucida Handwriting', cursive;font-size:2.5vh;font-weight:bold;">
                    FB
                </p>
            </div>
            <div class="col-4 px-0">
                <p style="margin-left:11.5vw;font-family:'Lucida Handwriting', cursive;font-size:2.5vh;font-weight:bold;">
                    SMS
                </p>
            </div>
            <div class="col-4 px-0">
                <p style="margin-left:11.5vw;font-family:'Lucida Handwriting', cursive;font-size:2.5vh;font-weight:bold;">
                    More
                </p>
            </div>
        </div>
        <!-- Submit Button-->
        <div id = "submitRow2" lass="row ui" style="height:18vh;width:98vw;">
            <div class="col-12 px-0">
                <div id = "submitButton2" button>
                    <span class="rounded-rect" style="margin-left:3vw;margin-top:3vh;background-color:#ff7675;">
                        <p style="font-family:'Lucida Handwriting',cursive;font-size:4vh;font-weight:bold;text-align:center;margin-top:1vh">
                            Submit
                        </p>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div id = "filters" class="container text-center align-items-center">
        <div class="row mt-2"></div>
        <button id = "exitFilter" class="btn bg-transparent float-left">
            <img src="https://img.icons8.com/material-outlined/24/000000/multiply--v1.png" width="40"/>
       </button>
       <div class="row mt-2"></div>
        <label><h1>Brightness</h1></label>
        <input type="range" min="0" max="100" value="100" step="1" onchange="applyFilter()" data-filter="brightness" data-scale="%"><br>
        <label><h1>Contrast</h1></label>
        <input type="range" min="0" max="100" value="100" step="1" onchange="applyFilter()" data-filter="contrast" data-scale="%"><br>
        <label><h1>Hue Rotate</h1></label>
        <input type="range" min="0" max="100" value="0" step="1" onchange="applyFilter()" data-filter="hue-rotate" data-scale="deg"><br>
        <label><h1>Opacity</h1></label>
        <input type="range" min="0" max="100" value="100" step="1" onchange="applyFilter()" data-filter="opacity" data-scale="%"><br>
    </div>

    <!-- ORIGINAL
    // You may change the dimensions of this canvas
    <canvas id="myCanvas" width="750px" height="750px"></canvas>
    -->
</body>

<script>
    var url = window.location.href;
    var video = null;
    var picCanvas = null;
    var startbutton = null;
    var retakeButton = null;
    var data = null;
    var img = new Image;
    var firstContainer = document.getElementById('firstContainer');
    var secondContainer = document.getElementById('secondContainer');
    var filters = document.getElementById('filters');
    var exitFilter = document.getElementById('exitFilter');
    var title = document.getElementById('title');
    // If URL contains the parameter "version=second", the second version of the app will be loaded.
    if (url.includes("version=second")) {
        $(".first").css("display", "none");
        $(".second").css("display", "block");

        var cameraButton = document.getElementById('myCamera2');
        var submitButton = document.getElementById('submitButton2');
        var editButton = document.getElementById('editButton2');
        var topButtons = document.getElementById('topButtons2');
        var bottomButtons = document.getElementById('bottomButtons2');
        var buttonText = document.getElementById('buttonText2');
        var submitRow = document.getElementById('submitRow2');
        video = document.getElementById('video2');
        picCanvas = document.getElementById('picCanvas2');
        startbutton = document.getElementById('startbutton2');
        retakeButton = document.getElementById('retakeButton2');
    } else {
        var cameraButton = document.getElementById('myCamera');
        var submitButton = document.getElementById('submitButton');
        var editButton = document.getElementById('editButton');
        var topButtons = document.getElementById('topButtons');
        var bottomButtons = document.getElementById('bottomButtons');
        var buttonText = document.getElementById('buttonText');
        var submitRow = document.getElementById('submitRow');
        video = document.getElementById('video');
        picCanvas = document.getElementById('picCanvas');
        startbutton = document.getElementById('startbutton');
        retakeButton = document.getElementById('retakeButton');
    }

    var socket = new WebSocket(
        'ws://' + window.location.host + '/ws/draw');
    var submissions = [];

    if (url.includes("large")) {
        cameraButton.style.display = 'none';
        picCanvas.style.display = 'none';
        firstContainer.style.display = 'none';
        secondContainer.style.display = 'none';
    } else {
        title.style.display = 'none';
    }
    retakeButton.style.display = 'none';
    filters.style.display = 'none';

    var width = 320;   
    var height = 0;     

    var streaming = false;


    // Taking photos with WebRTC https://developer.mozilla.org/en-US/docs/Web/API/WebRTC_API/Taking_still_photos
    function startup() {

        navigator.mediaDevices.getUserMedia({video: true, audio: false})
        .then(function(stream) {
            video.srcObject = stream;
            video.play();
        })
        .catch(function(err) {
            console.log("An error occurred: " + err);
        });

        video.addEventListener('canplay', function(ev){
            if (!streaming) {
                height = video.videoHeight / (video.videoWidth/width);
            
                // Firefox currently has a bug where the height can't be read from
                // the video, so we will make assumptions if this happens.
            
                if (isNaN(height)) {
                    height = width / (4/3);
                }
            
                video.setAttribute('width', width);
                video.setAttribute('height', height);
                picCanvas.setAttribute('width', width);
                picCanvas.setAttribute('height', height);
                streaming = true;
            }}, false);

        startbutton.addEventListener('click', function(ev){
            takepicture();
            ev.preventDefault();
        }, false);

        clearphoto();
    }

    function clearphoto() {
        var context = picCanvas.getContext('2d');
        context.fillStyle = "#AAA";
        context.fillRect(0, 0, picCanvas.width, picCanvas.height);

        data = picCanvas.toDataURL('image/png');
    }

    function takepicture() {
        picCanvas.style.display = '';
        var context = picCanvas.getContext('2d');
        if (width && height) {
            picCanvas.width = width;
            picCanvas.height = height;
            context.drawImage(video, 0, 0, width, height);
            
            data = picCanvas.toDataURL('image/png');
            img.src = data;  
            //hide video after to just show pic captured
            video.style.display = 'none';
            startbutton.style.display = 'none';
            retakeButton.style.display = '';
            submitButton.addEventListener('click', function(ev){
                console.log("submit")
                socket.send(JSON.stringify({data}));
            });

            retakeButton.addEventListener('click', function(ev){
                console.log("replay vid")
                picCanvas.style.display = 'none';
                video.style.display = ''; 
                retakeButton.style.display = 'none'; 
                startbutton.style.display = '';           
            });

            editButton.addEventListener('click', function(ev){
                console.log("touched edit button");
                topButtons.style.display = 'none';
                bottomButtons.style.display = 'none';  
                buttonText.style.display = 'none'; 
                submitButton.style.display = 'none'; 
                submitRow.style.display = 'none'; 
                filters.style.display = '';

                exitFilter.addEventListener('click', function(ev){
                    console.log("exit Filter button");
                    filters.style.display = '';
                    topButtons.style.display = '';
                    bottomButtons.style.display = '';  
                    buttonText.style.display = ''; 
                    submitButton.style.display = ''; 
                    submitRow.style.display = ''; 
            });
            });
        } else {
            clearphoto();
        }
    }
    // Taking photos with WebRTC https://developer.mozilla.org/en-US/docs/Web/API/WebRTC_API/Taking_still_photos

    //edit photo
    var filterControls = document.querySelectorAll('input[type=range]');
    function applyFilter() {
        var computedFilters = '';
        filterControls.forEach(function(item, index) {
            computedFilters += item.getAttribute('data-filter') + '(' + item.value + item.getAttribute('data-scale') + ') ';
        });
        var context = picCanvas.getContext('2d');
        context.filter = computedFilters;
        context.drawImage(img, 0, 0, width, height);
        data = picCanvas.toDataURL('image/png');
        context.filter = "";
    };

    // Set up our event listener to run the startup process
    // once loading is complete.
    window.addEventListener('load', startup, false);

    socket.onmessage = function(receivedMessage) {
        var received = JSON.parse(receivedMessage.data);
        
        if (url.includes("large")) {
            var rUrl = received.data;
            submissions.push(rUrl);
            var slideNum = submissions.length - 1;
            $('<div class="carousel-item"><img src="'+rUrl+'" width="100%"></div>').appendTo('.carousel-inner');
            $('<li data-target="#carousel" data-slide-to="'+slideNum+'"></li>').appendTo('.carousel-indicators')
            if (slideNum == 0) {
                $('.carousel-item').first().addClass('active');
                $('.carousel-indicators > li').first().addClass('active');
                $(document).ready(function() {
                    $('#carousel-example-generic').carousel({
                    });
                });
            }
        }
    }

    socket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };
</script>